
body {
  background-color: #9B2E46;
  font-family:'Comic Sans MS';
  color:white;
  text-align:center;
}

.slides {
  color:#126470;
  background-color:white;
  z-index:100;
}

.form-group.shiny-input-container{
  width:60%; 
}

a {
  font-family:'Futura';
  font-size:24px;
  color:grey;
}




ol .thumb{
  text-align:center; 
  width:100%;
}